.header
    margin-bottom: 55px
    transition: all 0.3s
.navbar
    padding: 20px 0
    display: flex
    justify-content: space-between
    align-items: center
    &-menu
        display: flex
        gap: 30px
        &__wrapper
            display: flex
            gap: 46px
            align-items: center
        &__link
            font-family: 'Jost'
            font-style: normal
            font-weight: 700
            font-size: 24px
            line-height: 24px
            text-align: center
            color: var(--grey)
            transition: all 500ms ease
            border: 0px
            position: relative
            &:hover
                color: var(--yellow)
                &::before
                    width: 100%
            &::before
                content: ""
                position: absolute
                bottom: 0
                width: 0px
                height: 1px
                background: var(--yellow)
                transition: width 500ms ease

.main
    display: flex
    flex-direction: column
    gap: 90px

.burger-btn
    width: 25px
    height: 25px
    display: none

.my-profile
    &__wrapper
        margin-bottom: 7px
    &__link
        padding: 17.5px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 50%
        background: var(--yellow)

.fixed-header
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: #4b4b4b
    z-index: 9999

