.footer
    background-color: var(--primary-color)
    padding-top: 75px
    &__top
        display: flex
        justify-content: center
        align-items: center
        padding-bottom: 61px
        position: relative
        &::after
            content: ""
            width: 100%
            background: white
            height: 1px
            position: absolute
            bottom: 0
        &-email
            color: var(--bgOrTxt-color)
            font-size: 40px
            font-family: 'Arial',Arial,sans-serif
            line-height: 1.1
            font-weight: 500
            background-position: center center
            border-color: transparent
            border-style: solid
    &__center
        padding: 60px 0
        &-block
            display: flex
            justify-content: space-between
        &-item
            display: flex
            flex-direction: column
            gap: 20px
            &__title
                color: var(--bgOrTxt-color)
                font-size: 16px
                font-family: 'Arial',Arial,sans-serif
                line-height: 1.55
                font-weight: 400
                background-position: center center
                border-color: transparent
                border-style: solid
            &__menu
                display: flex
                flex-direction: column
                gap: 7px
            &__link
                max-width: 310px
                width: 100%
                color: var(--bgOrTxt-color)
                font-size: 24px
                font-family: 'Arial',Arial,sans-serif
                line-height: 2
                font-weight: 400
                background-position: center center
                border-color: transparent
                border-style: solid
            &__text
                max-width: 330px
                width: 100%
                display: block
                color: var(--bgOrTxt-color)
                font-size: 24px
                font-family: 'Arial',Arial,sans-serif
                line-height: 2
                font-weight: 400
                background-position: center center
                border-color: transparent
                border-style: solid
    &__bottom
        position: relative
        padding: 47px 0
        &-compname
            color: var(--bgOrTxt-color)
            font-size: 16px
            font-family: 'Raleway',Arial,sans-serif
            line-height: 1.55
            font-weight: 400
            background-position: center center
            border-color: transparent
            border-style: solid
        &::before
           content: ''
           width: 100%
           height: 1px
           background: white
           position: absolute
           top: 0