.header
    &__navbar
        display: flex
        justify-content: space-between
        padding: 49px 0
        &-menu
            display: flex
            gap: 10px
            flex-grow: 1
            justify-content: flex-end
            margin-right: 30px
        &-link
            & a
                color: var(--primary-color)
        &-login
            background: var(--primary-color)
            color: white
            padding: 13px 25px
            border-radius: 10px