.header 
    &__navbar
        display: flex
        justify-content: space-between
        padding: 49px 0
        &-menu 
            display: flex
            gap: 56px
        &-link 
            & a
                color: var(--primary-color)
        &-login 
            background: var(--primary-color)
            color: white
            padding: 13px 25px
            border-radius: 10px