html, body * { box-sizing: border-box; font-family: 'Open Sans', sans-serif; }

body {
  background:
    -webkit-linear-gradient(
    rgba(246,247,249,0.8),
    rgba(246,247,249,0.8)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/sky-clouds-cloudy-mountain.jpg) no-repeat center center fixed;
  background:
    linear-gradient(
    rgba(246,247,249,0.8),
    rgba(246,247,249,0.8)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/sky-clouds-cloudy-mountain.jpg) no-repeat center center fixed;
  background-size: cover;
}


.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60%;
  width: 30%;
  background:
    -webkit-linear-gradient(
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
  background:
    linear-gradient(
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 30px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.frame-long {
  height: 615px;
}

.frame-short {
  height: 400px;
  margin-top: 50px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
}

.nav {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.nav-up {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
}


.signin-active a {
  padding-bottom: 10px;
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: solid 2px var(--primary-color);
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  cursor: pointer;
}

.signin-inactive a {
  padding-bottom: 0;
  color: var(--secondary-color);
  opacity: 0.5;
  text-decoration: none;
  border-bottom: none;
  cursor: pointer;
}

.signup-active a {
  cursor: pointer;
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: solid 2px var(--primary-color);
  padding-bottom: 10px;
}

.signup-inactive a {
  cursor: pointer;
  color: var(--secondary-color);
  opacity: 0.5;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.form-signin {
  height: 375px;
	font-size: 18px;
	font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.form-signin-left {
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  opacity: .0;
}

.form-signup {
  height: 375px;
	font-size: 18px;
	font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  position: relative;
  top: -375px;
  left: 400px;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.form-signup-left {
  -webkit-transform: translateX(-399px);
          transform: translateX(-399px);
  opacity: 1;
}

.form-signup-down {
  top: 0px;
  opacity: 0;
}

.success {
  width: 80%;
  height: 150px;
  text-align: center;
  position: relative;
  top: -890px;
  left: 450px;
  opacity: .0;
  -webkit-transition: all .8s .4s ease;
  transition: all .8s .4s ease;
}

.success-left {
  -webkit-transform: translateX(-406px);
          transform: translateX(-406px);
  opacity: 1;
}

.successtext {
  color: var(--secondary-color);
	font-size: 16px;
	font-weight: 300;
  margin-top: -35px;
  padding-left: 37px;
  padding-right: 37px;
}

#check path {
    stroke: var(--secondary-color);
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width: .85px;
    stroke-dasharray: 60px 300px;
    stroke-dashoffset: -166px;
    fill: rgba(0, 0, 0, 0);
    -webkit-transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
    transition: stroke-dashoffset 2s ease .5s, fill 1.5s ease 1.0s;
}

#check.checked path {
    stroke-dashoffset: 33px;
    fill: rgba(0, 0, 0, 0.03);
}

.form-signin input, .form-signup input {
  color: var(--secondary-color);
  font-size: 13px;
}

.form-styling {
  width: 100%;
  height: 35px;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.2);
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: var(--secondary-color);
  opacity: 0.7;
  display: block;
}

:focus {outline: none;
}

.form-signin input:focus, textarea:focus, .form-signup input:focus, textarea:focus {
    background: rgba(0, 0, 0, 0.3);
    border: none;
    padding-right: 40px;
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
 }

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  display: none;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  // padding-top: 2px;
  cursor: pointer;
  margin-top: 8px;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  width: 65px;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  left: 0;
  top: -3px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 10px;
  height: 10px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  top: 7px;
  left: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background: var(--primary-color);
}

[type="checkbox"]:checked + label:after {
  background: rgb(255, 255, 255);
  top: 7px;
  left: 45px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: relative;
  left: 28%;
  width: 65px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

[type="checkbox"]:not(:checked) + label .ui:before {
  content: "";
  font-size: 16px;
  left: -19.5%;
  top: 0.15em;
  color: rgb(0, 0, 0);
}

[type="checkbox"]:checked + label .ui:after {
  left: -66%;
  top: -20%;
  content: "";
  font-size: 16px;
  color: rgb(255, 255, 255);

}

[type="checkbox"]:focus + label:before {
  box-sizing: border-box;
  margin-top: -1px;
}

.btn-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgba(255, 255, 255);
  width: 100%;
  height: 35px;
	border: none;
	border-radius: 20px;
  margin-top: 23px;
  background-color: var(--primary-color);
}

.btn-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 35px;
	border: none;
	border-radius: 20px;
}

.btn-animate {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 35px;
	border: none;
	border-radius: 20px;
  margin-top: 23px;
  background-color: var(--primary-color);
  left: 0px;
  top: 0px;
  -webkit-transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
  transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}

.btn-animate-grow {
  width: 130%;
  height: 625px;
  position: relative;
  left: -55px;
  top: -420px;
  color: rgba(0, 0, 0, 0);
  background-color: rgb(0, 0, 0);
}

a.btn-signup:hover, a.btn-signin:hover {
    cursor: pointer;
    background-color: var(--active-color);  
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.forgot {
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 24px;
  margin-top: -450px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.forgot-left {
  -webkit-transform: translateX(-400px);
          transform: translateX(-400px);
  opacity: 0;
}

.forgot-fade {
  opacity: 0;
}

.forgot a {
  color: var(--secondary-color);
  opacity: 0.3;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.welcome {
  width: 100%;
  height: 50px;
  position: relative;
  color: rgba(35,43,85,0.75);
  opacity: 0;
  -webkit-transition: opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
  transition: opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
  transition: transform 1.5s ease .25s, opacity .1s ease 1s;
  transition: transform 1.5s ease .25s, opacity .1s ease 1s, -webkit-transform 1.5s ease .25s;
}

.welcome-left {
  -webkit-transform: translateY(-780px);
          transform: translateY(-780px);
  opacity: 1;
}

.cover-photo {
  height: 150px;
  position: relative;
  left: 0px;  top: -900px;
  background:
    -webkit-linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/landscape-nature-man-person.jpeg);
  background:
    linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/landscape-nature-man-person.jpeg);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 1.5s ease 0.55s;
  transition: all 1.5s ease 0.55s;
}

.cover-photo-down {
  top: -575px;
  opacity: 1;
}

.profile-photo {
  height: 125px;
  width: 125px;
  position: relative;
  border-radius: 70px;
  left: 155px;
  top: -1000px;
  background: url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/nature-water-rocks-hiking.jpg);
  background-size: 100% 135%;
  background-position: 100% 100%;
  opacity: 0;
  -webkit-transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
  transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
  border: solid 3px var(--secondary-color);
}

.profile-photo-down {
  top: -636px;
  opacity: 1;
}

h1 {
  color: var(--secondary-color);
  font-size: 35px;
	font-weight: 300;
  text-align: center;
}

.btn-goback {
  position: relative;
  margin-right: auto;
  top: -400px;
  float: left;
  padding: 8px;
  width: 83%;
  margin-left: 37px;
  margin-right: 37px;
  height: 35px;
	border-radius: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  color: var(--primary-color);
  margin-top: -8px;
  border: solid 1px var(--primary-color);
  opacity: 0;
  -webkit-transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
  transition: top 1.5s ease 0.35s, opacity .75s ease .5s;
}

.btn-goback-up {
  top: -1080px;
  opacity: 1;
}

a.btn-goback:hover {
    cursor: pointer;
    background-color: #ff75d6;
    -webkit-transition: all .5s;
    transition: all .5s;
    color: var(--secondary-color);
}

/* refresh button styling */

#refresh {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
    padding: 13px 0 0 13px;
}

.refreshicon {
    fill: #d3d3d3;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: fill .25s ease, -webkit-transform .25s ease;
    transition: fill .25s ease, -webkit-transform .25s ease;
    transition: fill .25s ease, transform .25s ease;
    transition: fill .25s ease, transform .25s ease, -webkit-transform .25s ease;
}

.refreshicon:hover {
  cursor: pointer;
  fill: var(--primary-color);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.reg-log{
  background: url(https://i.pinimg.com/originals/a7/c9/87/a7c98793edb93ab88138283785399af3.gif);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &-content{
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.decor-img{
  height: 100vh;
  overflow: hidden;
  width: 40%;
  & img{
    width: 100%;
  }
}
.sign-btns{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.ui{
  width: 100%;
  position: relative;
  user-select: none;
  left: 22%;
  font-size: 18px;
}
.btn-signup{
  transition: all 300ms ease-in-out;
  &:hover{
    background-color: var(--active-color);

  }

}